/ $font-stack:
/ $main-color:
/ $dark-color:

.plus-icon
	& > *
		display: inline-block
		height: 10px
		width: 10px
	.table
		background: #aaa
	.image
		background: #000
	.text
		background: #dd0000
