// $font-stack:
// $main-color:
// $dark-color:

.plus-icon
	& > *
		cursor: pointer
		display: inline-block
		font-size: 0
		margin: 10px 4px
		height: 20px
		width: 20px
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 12px
	.table
		background: #aaa
	.image
		background: #000
	.text
		background: #dd0000

.field
	border: 1px solid #ccc
	margin: 20px 0

.controls
	// background: #eee
	margin: 10px 0
	& > *
		background: rgba(0,0,0,.1)
		border: 1px solid #ccc
		border-radius: 4px
		cursor: pointer
		display: inline-block
		padding: 6px 10px
		margin-right: 6px
		// height: 20px
		// width: 20px
	& .log
		// background: url(../img/icons/log.svg);
	& .log:after
		content: 'log'
		text-transform: uppercase
	& .bold
		// background: url(../img/icons/bold.svg);
	& .bold:after
		content: 'bold'
		text-transform: uppercase
	& .italic
		// background: url(../img/icons/italic.svg);
	& .italic:after
		content: 'italic'
		text-transform: uppercase
	& .align-left
		// background: url(../img/icons/align-left.svg);
	& .align-left:after
		content: 'align-left'
		text-transform: uppercase
	& .align-right
		// background: url(../img/icons/align-right.svg);
	& .align-right:after
		content: 'align-right'
		text-transform: uppercase
	& .align-center
		// background: url(../img/icons/align-center.svg);
	& .align-center:after
		content: 'align-center'
		text-transform: uppercase
	& .underline
		// background: url(../img/icons/underline.svg);
	& .underline:after
		content: 'underline'
		text-transform: uppercase
	& .line-through
		// background: url(../img/icons/line-through.svg);
	& .line-through:after
		content: 'line-through'
		text-transform: uppercase
	& .color
		// background: url(../img/icons/color.svg);
	& .color:after
		content: 'color'
		text-transform: uppercase
	& .mark
		// background: url(../img/icons/mark.svg);
	& .mark:after
		content: 'mark'
		text-transform: uppercase
	& .list
		// background: url(../img/icons/list.svg);
	& .list:after
		content: 'list'
		text-transform: uppercase
	& .table
		// background: url(../img/icons/table.svg);
	& .table:after
		content: 'table'
		text-transform: uppercase
	& .image
		// background: url(../img/icons/image.svg);
	& .image:after
		content: 'image'
		text-transform: uppercase
	& .link
		// background: url(../img/icons/link.svg);
	& .link:after
		content: 'link'
		text-transform: uppercase
